---
import Layout from '../../../layouts/Layout.astro';
//import LibCrud from '../../../lib/LibCrud';
import CrudShow from '../CrudShow';
//
const { id } = Astro.params;
console.log(id);
let item: any = await CrudShow.get(Number(id));
console.log(item);
---

<!-- -->
<style>
</style>

<!-- MarkUp -->
<Layout title="Welcome to Astro.">
	<main class="container">
		<input type="hidden" value={id} id="item_id" />
		<a class="btn btn-outline-primary" href={`/gpt2`}>Back</a>
		<hr />		
		<h1>Show</h1>
		<hr />
		<p>Id:{id}</p>
		<hr class="my-1" />
		title: {item.title}
		<p>タスクの内容: {item.content}</p>
		<p>完了状態: {item.completed ? '完了' : '未完了'}</p>	
		<hr class="my-2" />	
		<button id="btn_delete" class="btn btn-danger">Delete</button>
	</main>
</Layout>
<!-- -->
<script src="../CrudShow.ts"></script>

<!--
 -->