---
import Layout from '../../layouts/Layout.astro';
import Counter from './Counter.svelte';

---

<Layout title="Welcome to Astro.">
	<main>
		<h3>Test2</h3>
		<hr />
		<Counter client:only="svelte" />
	</main>
</Layout>

<style>
</style>
